<!-- Header -->
  <header id="header">
    <a href="{{ site.github.url }}/" class="image avatar"><img src="{{ site.github.url }}/images/avatar.jpg" alt="" /></a>
    <h1>{{ site.description | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
    <h4>{{ site.tagline }}</h4><h5>My journey from sales <i class="fa fa-angle-double-right" aria-hidden="true"></i> engineering</h5>
    <h5>Education:</h5>
      <img src="http://db.cs.berkeley.edu/logo/berkeley.png" class="image about">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/da/Harvard_Business_School_shield_logo.svg/868px-Harvard_Business_School_shield_logo.svg.png" class="image about">
      <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/1163/s300/course-report-fullstack-academy-600-600.png" class="image about">
    <h5>Companies:</h5>
      <img src="https://privacy.google.com/images/google-logo-letter.svg" class="image about">
      <img src="https://yt3.ggpht.com/-CepHHHB3l1Y/AAAAAAAAAAI/AAAAAAAAAAA/Z8MftqWbEqA/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" class="image about">
      <img src="https://pbs.twimg.com/profile_images/632041126187388928/q1HIxw3k.jpg" class="image about">
    <h5>Organizations:</h5>
      <img src="https://secure.meetupstatic.com/photos/event/1/9/f/4/global_447486644.jpeg" class="image about">
      <img src="https://techqueria.org/images/logo-squared.png" class="image about">
      <img src="https://avatars3.githubusercontent.com/u/6520415?v=4&s=200" class="image about">
  </header>

<!-- fa fa-code-fork -->